{% extends "layout.html" %}

{% block main%}
{% from "formhelpers.html" import render_field %}

<h2>Are you sure to delete log: {{log.subject}}?</h2>
 <form action="{{ url_for('log.delete_log', log_id=log.id) }}" method = 'post'>
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
 <div class="form-group">
    <input class="btn btn-danger" type='submit' value='Delete'>
    <a class="btn btn-primary" href = "{{ url_for('log.index') }}">Cancel </a>
</div>     
</form>

{% endblock %}