{% extends "layout.html" %}


{% block main %}
    <form class="form-horizontal" action="{{url_for('log.edit_log', log_id=log.id)}}" method=post>
        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subject" name="subject" value="{{log.subject}}">
            </div>
        </div>
        <div class="form-group">
            <label for="link" class="col-sm-2 control-label">Link</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="link" name="link" value="{{log.link}}">
            </div>
        </div>
        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="notes" name="notes" rows="4" value="{{log.notes}}"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <label for="tag" class="col-sm-2 control-label">Tag</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tag" name="tag" value="{{log.get_tags()}}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-primary" href="{{url_for('log.index')}}">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}



