{% extends "layout.html" %}


{% block main %}
{% from "formhelpers.html" import render_field %}

    <form class="form-horizontal" action="{{url_for('log.new_log')}}" method=post>
        {{ render_field(form.csrf_token)}}
        {{ render_field(form.subject)}}
        {{ render_field(form.link)}}
        {{ render_field(form.notes)}}
        {{ render_field(form.tag)}}


        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-primary" href="{{url_for('log.index')}}">
                    Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}



