{% extends "layout.html" %}


{% block main %}

    {% for l in logs %}
    <div class="row marketing">
        
        <div class="col-lg-2">
            <b>{{l.create_date.strftime('%Y-%m-%d')}}</b>
        </div>
        <div class="col-lg-10">
            <b>{{l.subject}}</b><br />
            <small><a href="{{l.link}}">{{l.link}}</a></small>
            <p>{{l.notes}}</p>
            <small class="tag">
            {% for t in l.tag %}
                <a href="#">{{t.name}}</a> 
            {% endfor %}
            </small>
        </div>
    </div>    
    {% endfor %}

{% endblock %}



