{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
    <h2>All logs</h2>
    <ul>
    {% for l in logs %}
        <li>{{l.subject}} : {{l.link}}<br/>
        {{l.notes}} - {{l.create_date}}<br />
        {% for t in l.tag %}
            {{t.name}} 
        {% endfor %}
        </li>
    {% endfor %}
    </ul>


{% endblock %}



