{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='jumbotron.css')}}">
{% endblock %}

{% block title %}My Logbook{% endblock %}


{% block content %}

 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">            

            {% if current_user.is_authenticated() %}
            <li role="presentation"><a href="{{url_for('log.show_log')}}">Logs</a></li>
            <li role="presentation"><a href="{{url_for('log.new_log')}}">Add Log</a></li>
            <li role="presentation"><a href="{{url_for('auth.logout')}}">Logout</a></li>
            {% else %}
            <li role="presentation"><a href="{{url_for('log.index')}}">Home</a></li>
            <li role="presentation"><a href="{{url_for('auth.register')}}">Sign up</a></li>
            <li role="presentation"><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        {% if current_user.is_authenticated() %}
        <h3 class="text-muted"><a href="{{url_for('log.show_log')}}">My Logbook</a></h3>
        {% else %}
        <h3 class="text-muted"><a href="{{url_for('log.index')}}">My Logbook</a></h3>
        {% endif %}

      </div>

          {% with messages = get_flashed_messages() %}
          {% if messages %}

          <div class="row">
            <div class="col-md-12">
              <div class="flash">        
                    <ul>
                        {% for message in messages %}
                            <li> <strong> {{ message }} </strong> </li>
                        {% endfor %}
                    </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endwith %}
          
      {% block main %}

      {% endblock %}

      <footer class="footer">
        <nav>
        <ul class="pull-right">
          <li><a href="#">Feedback</a></li>
        </ul>
        </nav>
        <span class="company">&copy; Company 2015</span>
      </footer>

    </div> <!-- /container -->

{% endblock %}